<!DOCTYPE html>
<html lang="en">
<head>
    <style>
     body{
        background-color: black;
        color: aliceblue;
     }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>url shortner</h1>
    <form  method="POST" action="/url">
        <label>enter your original url</label>
        <input name="url" type="text" placeholder="https://example.com">
        <button type="submit">Gnenerate</button>
    </form>
</body>
</html>